" Sets
set guicursor=
" set relativenumber
set nohlsearch
set hidden
set visualbell
set noerrorbells
set tabstop=8
set softtabstop=2
set shiftwidth=2
set nowrap
set noswapfile
set nobackup
set undodir=~/.vim/undodir
set undofile
set incsearch
set scrolloff=8
set signcolumn=yes
set isfname+=@-@

" Plugins
Plug 'tpope/vim-surround'
Plug 'tpope/vim-commentary'


" Maps
let mapleader = " "

" Code navigation
nmap gt  <Action>(GotoTypeDeclaration)
nmap gi  <Action>(GotoImplementation)
nmap gd  <Action>(GotoDeclaration)

" Editor maps
nmap gh <Action>(QuickJavaDoc)
nmap gk <Action>(QuickImplementations)
nmap gu <Action>(ExternalJavaDoc)
nmap gl <Action>(ShowErrorDescription)
map <A-C-Up> <Action>(EditorCloneCaretAbove)
map <A-C-Down> <Action>(EditorCloneCaretBelow)
nmap <leader>ff <Action>(GotoFile)
map <leader>rf <Action>(RefactorCode)
map <leader>p  <Action>(SearchEverywhere)

" Harpoon navigation
nmap <leader>m <Action>(GotoHarpoon1)
nmap <leader>n <Action>(GotoHarpoon2)
nmap <leader>e <Action>(GotoHarpoon3)
nmap <leader>i <Action>(GotoHarpoon4)

nmap <leader>k <Action>(ShowHarpoon)
nmap <leader>h <Action>(AddToHarpoon)
